@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn" style="margin-left: 1em;" @onclick="BeginLogOut"> Log out</button>
    </Authorized>
    <NotAuthorized>
        <button class="nav-link btn" style="margin-left: 1em;" @onclick="BeginLogIn"> Log in</button>
    </NotAuthorized>
</AuthorizeView>