@using ProjectHub.Blazor.Constants
@attribute [Route(ProjectHubRoute.Index)]

<PageTitle>Index</PageTitle>

<h1>Willkommen auf der Index-Page!</h1>

Welcome to your new app.

<SurveyPrompt Title="Landing page bearbeiten."/>