@using ProjectHub.Blazor.Constants
@attribute [Route(ProjectHubRoute.LandingPage)]

<PageTitle>Landing page</PageTitle>

<h1>Willkommen auf der Landing page!</h1>

Welcome to your new app.

<SurveyPrompt Title="Landing page bearbeiten."/>
