@using ProjectHub.Blazor.Constants
@attribute [Route(ProjectHubRoute.LogoutPage)]
@attribute [AllowAnonymous]

<PageTitle>Logout page</PageTitle>

<h1>Willkommen auf der Logout page!</h1>

Welcome to your new app.

<SurveyPrompt Title="Logout page bearbeiten."/>