@using ProjectHub.Blazor.Forms
@using ProjectHub.Blazor.Constants
@attribute [Route(ProjectHubRoute.CreateProjectsPage)]

<PageTitle>Create Project</PageTitle>
<h3>Create Project</h3>

<EditForm Model="@(this.projectCreateDto)" OnSubmit="this.Submit">
    <ProjectCreateForm ProjectCreateDto="this.projectCreateDto"></ProjectCreateForm>
</EditForm>