@using ProjectHub.Blazor.Services.Contracts
@using ProjectHub.Blazor.Constants
@attribute [Route(ProjectHubRoute.Projects)]
@inject IProjectService ProjectService

<h3>Auflistung Projekte</h3>

@if (this.response.Success == false)
{
    <div class="alert alert-danger">
        <h4>@(this.response.ValidationErrors)</h4>
    </div>
}
else
{
    @if (this.response.Data == null)
    {
        <div class="alert alert-info">
            <h4>Loading Data...</h4>
        </div>
    }
    else
    {
        <br/>
        <Table Projects="this.response.Data.ToList()"></Table>
    }
}